.blogView {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 96px;
    &-main {
        overflow: hidden;
    }
    &-container {
    max-width: 1450px !important;
    }
    &-head {
    display: flex;
    flex-direction: column;
    gap: 8px;
    h1 {
    font-size: 68px;
    }
    &_mobile {
        display: none;
    }
    }
    &-date {
        display: flex;
        gap: 8px;
        align-items:center;
        time {
        margin: 2px 0 2px;
        font-size: 19px;
        line-height: 130%;
        color:  #787878;
        }
        img {
            width: 18px;
            height: 20px;
        }
    }
    &-wrapper {
        display: flex;
        gap: 48px;
    }
    &-content {
        display: flex;
        min-width: 0;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }
    &-image {
        border-radius: 24px;
    }
    &-subtitle {
        display: flex;
        align-items: start;
        gap: 16px;
        span {
            position: relative;
            padding: 6px 8px;
            font-weight: 700;
            font-size: 22px;
            line-height: 130%;
            text-align: center;
            background: linear-gradient(90deg, #fff 0%, #ff001a 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 16px;
            padding: 3px;
            background: linear-gradient(127deg, #ff7681 0%, rgba(255, 0, 26, 0) 100%);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            }
        }
        h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        color: #fff;
        }
    }
    &-features {
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
            display: flex;
            align-items: center;
            gap: 16px;
            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        h4 {
            font-size: 22px;
        }
    }
    &-quote {
    position: relative;
    border-radius: 24px;
    padding: 24px 32px 32px;
    background: radial-gradient(136.86% 141.25% at 9.76% 8.43%, #222 0%, rgba(62, 62, 62, 0) 100%);
    &::before {
    content: "";
    position: absolute;
    margin: 28px 0px;
    inset: 0;
    width: 4px;
    height: auto;
    border-radius: 31px;
    padding: 0px;
    background: linear-gradient(127deg, #ff7681 0%, rgba(255, 0, 26, 0) 100%);
    }
    p {
        a {
            text-decoration: underline;
        }
    }
    }
      &-video {
        border-radius: 24px;
        height: 500px;
        width: 100%;
        overflow: hidden;
        position: relative;

        &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.3);
        }
        &_play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        z-index: 3;
        cursor: pointer;
        overflow: hidden;

        svg {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.15);
        }
        }

        &_video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }
    &-products {
         width: 100%;
         .swiper-slide {
            display: flex;
            flex-direction: column;
            gap: 16px;
         }
    }
    &-product {
        border-radius: 24px;
        padding: 24px 32px 32px;
        background: radial-gradient(136.86% 141.25% at 9.76% 8.43%, #222 0%, rgba(62, 62, 62, 0) 100%);
        transition: transform 0.3s ease;
        a:not(.blogView-product_btn) {
        transition:  0.3s ease;
        h3 {
            margin-top: 16px;
            font-weight: 400;
            line-height: 130%;
            max-width: 190px;
        }
        &:hover {
            opacity: 0.8;
            transform: scale(0.9);
        }
        }
        // &_image {
        //     width: 261px;
        //     height: 277px;
        //     img {
        //         width: 100%;
        //         height: 100%;
        //     }
        // }
        p {
            font-size: 17px;
            line-height: 130%;
            color:#787878;
        }
        &_price {
            white-space: nowrap;
        }
        &_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .btn {
                padding: 15.4px 23.3px;
            }
            a {
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: inherit;
                background: linear-gradient(127deg, #ff7681 0%, rgba(255, 0, 26, 0) 100%);
                opacity: 0;
                transition: opacity 0.3s ease;
                z-index: 0;
            }
            &:hover::after {
                opacity: 1;
            }
            }
        }
        &_btn {
            &_mobile {
                display: none;
            }
        }
    }
    &-gallery {
        position: relative;
        width: 100%;

        &_slider {
        width: 100%;
            .swiper-slide {
                height: 440px;
            }
        }

        &_item {
        display: block;
        border-radius: 24px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        }
    }
    &-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .blogView-links_wrapper_mobile {
        display: none;
    }
    }
    &-btn {
    border-radius: 7px;
    padding: 15.4px 24px;
    background: linear-gradient(127deg, #ff7681 0%, rgba(255, 0, 26, 0) 100%);
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #fff;
    transition: 0.3s ease;
    &:hover {
        opacity: 0.8;
    }
    }
    &-nav {
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        gap:40px;
        min-width: 341px;
    }
    &-filter {
        display: flex;
        flex-direction: column;
        gap:16px;
        &_head {
            display: none;
        }
        &_btn {
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 0px;
            width: 100%;
            span {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid  #3a3a3a;
                border-radius: 16px;
                padding: 5px 19px;
                max-width: 40px;

                font-weight: 700;
                font-size: 22px;
                line-height: 130%;
                color: #545454;
                transition: 0.3s ease;
            }
            p {
            font-size: 19px;
            line-height: 168%;
            min-width: 0;
            text-align: left;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: 0.3s ease;
            }
            &.active, &:hover {
                span {
                    border-color: transparent;
                    padding: 5px 19px;
                    background: linear-gradient(90deg, #fff 0%, #ff001a 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 16px;
                    padding: 3px;
                    width: 34px;
                    height: 34px;
                    background: linear-gradient(127deg, #ff7681 0%, rgba(255, 0, 26, 0) 100%);
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    }
                }
                p {
                    color: #fff;
                }
            }
        }
    }
    &-feedback {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    padding: 24px 32px 32px;
    background: radial-gradient(136.86% 141.25% at 9.76% 8.43%, #222 0%, rgba(62, 62, 62, 0) 100%);
    &_form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        input  {
        border: none;
        text-align: center;
        border-radius: 10px;
        padding: 14px 20px;
        background:#3a3a3a;
        font-size: 17px;
        line-height: 129%;
        color: #787878;
        outline: none;
        }
    }
    .btn {
        padding: 15.4px;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            background: linear-gradient(127deg, #ff7681 0%, rgba(255, 0, 26, 0) 100%);
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 0;
        }
        &:hover::after {
            opacity: 1;
        }
    }
    
    &_agreement {
        margin-top: 8px;
        position: relative;
    }
    &_checkbox {
        position: absolute;
        top: 36%;
        left: 10px;
        opacity: 0;
        pointer-events: none;
    }
    &_text {
        display: flex;
        align-items: center;
        gap: 8px;
        p {
        font-size: 17px;
        line-height: 129%;
        color: #787878;
        }
        &::before {
            content: "";
            flex-shrink: 0;
            width: 29px;
            height: 29px;
            border: 1px solid transparent;
            border-radius: 10px;
            background: #3a3a3a;
            cursor: pointer;
        }
        a {
            color: #adadad;
        }
    }
    &_checkbox:checked + .blogView-feedback_text::before {
    background: #3a3a3a url("/public/icons/accept.svg") center center / 16px 16px no-repeat;
    border: 1px solid #ff7681;
    width: 29px;
    height: 29px;
    }
    }
    &-tegs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
            line-height: 130%;
            color: #787878;
        }
    }
    &-label {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        li {
            border-radius: 16px;
            padding: 9px 16px;
            background: rgba(255, 118, 129, 0.1);
            font-weight: 400;
            font-size: 17px;
            color: #c49297;
        }
    }
    &-links {
        display: flex;
        align-items: center;
        gap: 10px;
        &_wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            &__mobile {
                display: none;
            }
        }
    }
    &-more {
        display: flex;
        flex-direction: column;
        gap: 24px;
        h3 {
            font-size: 30px;
            line-height: 130%;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        &_text {
            position: relative;
            a {
            position: absolute;
            bottom: 0;
            right: 0;
            white-space: nowrap;

            font-size: 16px;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            background: linear-gradient(127deg, #ff7681 0%, #ff001a 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: 0.3s ease;
            &:hover {
                opacity: 0.8;
            }
            }
        }
        p {
            display: -webkit-box;
            -webkit-line-clamp: 3; 
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 130%;
            font-size: 19px;
            max-width: 300px;
        }
    }
}

